/* NAV */
.header_top{
position: fixed;
width: 100%;
height: 60px;
top: 0;
left: 0;
z-index: 1;

}

.bg_nav{
  background-color: #2C3E50;
}

.logo{
  width: 100%;
  color: #fff;
  padding: 20px 0;
  margin-left: 60px;
}

.nav-link a{
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.navbar-nav li {
  display: inline-block;
  padding: 20px 0;
  margin: 0 20px;
}

.nav-link:hover a{
  text-decoration: none;
  color: #1ABC9C;
}



/* NAV */

/* JUMBO */

.bg_jumbotron{
  background-color: #1ABC9C;
}

.jumbo{
  margin-top: 60px;
  padding: 70px 0;
}

.jumbo_text{
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}

/* //JUMBO */


.wrapper{
  margin:auto;
}

.portfolio_text{
  height: 50px;
  background-color: blue;
  margin-top: 100px;
}

.portfolio-box{
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: red;
}

.bg_about{
  height: 250px;
  background-color: #1ABC9C;
}

.bg_contact{
  height: 300px;
  background-color: #fff;
}

.bg_social{
  height: 150px;
  background-color: #3A546D;
}

.footer{
  height: 100px;
  background-color: #2C3E50;
}
